body {
   background-color: #001023;
    margin: 0;
}

.page {
    box-sizing: border-box;
    display: flex;
}

.img {
    padding-top: 10%;
    margin-left: -5%;
}

.img-log {
    width: 703px;
    height: 462px;
}

.text {
   margin-top: 13%;
   margin-left: 6%;
}

.title {
    color: #ffffff;
    font-family: 'DM Serif Display';
    font-weight: 400;
    font-size: 45px;
    line-height: 62px;
}

.text1 {
    font-family: 'Padauk', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    margin: 20px 0 5px 0;
}

.input {
    width: 361px;
    height: 43px;
    font-size: 20px;
}

.text3 {
    font-family: 'Padauk', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    margin: 20px 0 -10px 0;
}

a {
    text-decoration: none;
    color: #499ffe;
}

.button {
    margin-top: 20px;
    width: 180px;
    height: 43px;
    background: #015fc7;
    border: 1px solid #015fc7;
    color: #fff;
    font-size: 20px;
    font-family: 'Padauk',sans-serif;
    font-weight: 700;
}

