body {
    background-color: #001023;
    margin: 0;
}

.page {
    box-sizing: border-box;
    display: flex;
}

.img {
    padding-top: 4%;
    padding-left: 6%;
}

.img-log {
    width: 332px;
    height: 606px;
}

.text {
    margin-top: 70px;
    margin-left: 12%;
}

.title {
    font-family: 'DM Serif Display';
    font-weight: 400;
    font-size: 45px;
    color: #fff;
}

.text1 {
    color: #fff;
    font-family: 'Padauk', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 20px 0 5px 0;
}

.input {
    width: 361px;
    height: 43px;
    font-size: 20px;
}

.button {
    margin-top: 35px;
    width: 180px;
    height: 43px;
    background: #015fc7;
    border: 1px solid #015fc7;
    color: #fff;
    font-size: 20px;
    font-family: 'Padauk',sans-serif;
    font-weight: 400;
    margin-left: 100px;
    border-radius: 5px;
    margin-bottom: 114px;
}

a {
    text-decoration: none;
    color: #fff;
}