.body {
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background: #243b93;
    width: 100%;
    height: 63px;
}

.img {
    width: 130px;
    height: 45px;
    padding: 60%;
}

.menu {
    display: flex;
    font-family: 'PT Sans';
    font-weight: 700;
    font-size: 14px;
    color: white;
    justify-content: center;
    letter-spacing: 0.16em;
    align-items: center;
    list-style: none;
    display: flex;
    width: 50%;
    justify-content: space-between;
    padding-left: 8%;
}

.li {
    text-align: center;
    display: flex;
}

a {
    text-decoration: none;
    color: white;
}

.ua {
    padding: 5%;
    width: 6%;
}

.section {
    background: #bff0ff;
    width: 100%;
}

.title {
    color: #202846;
    font-family: PT Sans;
    font-weight: 400;
    font-style: italic;
    font-size: 44px;
    line-height: 57px;
    align-items: center;
    display: flex;
    white-space: nowrap;
    margin-left: 200px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.background {
    background-color: white;
    width: 85%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 2% auto;
}

.title2 {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.61);
    margin: 10px 0 10px 0;
}

.group {
    background: linear-gradient(92.95deg, #ADCBD5 0%, #00AEE6 100%);
    width: 85%;
    margin: auto;
    display: flex;
}

.group:hover {
    background: #2cbdeb;
    box-shadow: 0px 0px 60px 4px #2CBDEB;
}

.group:hover .svg path {
    fill: #FFF500;
}

.group:hover .button {
    background: #EF075B;
    border: 1px solid #EF075B;
}

.block1 {
    float: left;
    display: grid;
    width: 39%;
    padding-top: 3%;
    padding-bottom: 1%;
    padding-left: 5%;
}

img {
    width: 100%;
}

.block2 {
    float: left;
    display: grid;
    width: 55%;
    padding-left: 2%;
}

.text {
    font-family: 'PT Sans';
    font-weight: 700;
    font-style: italic;
    font-size: 40px;
    color: #353c57;
    border-bottom: 1px solid white;
    margin-top: 3%;
    height: 43px;
    width: 108%;
}

.pict-desc {
    margin-top: 10px;
    margin-left: 12px;
    color: #202846;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.description {
    background: white;
    min-height: 180px;
    position: absolute;
    width: 45%;
    margin-top: 70px;
}

.svg {
    margin-right: -13%;
    margin-top: 5px;
    position: relative;
    float: right;
}
.svg1 {
    margin-right: -10.5%;
    margin-top: 5px;
    position: relative;
    float: right;
}

.button {
    position: relative;
    margin-top: 240px;
    background-color: #243b93;
    width: 210px;
    height: 46px;
    border: 1px solid#243b93;
    border-radius: 50px;
    font-size: 24px;
    font-weight: 400;
    color: white;
    font-family: 'PT Sans';
    line-height: 31px;
    margin-right: -45px;
}

.a {
    text-decoration: none;
}

.group1 {
    background: linear-gradient(92.95deg, #ADCBD5 0%, #00AEE6 100%);
    width: 85%;
    margin: 35px auto;
    display: flex;
}

.group1:hover {
    background: #2cbdeb;
    box-shadow: 0px 0px 60px 4px #2CBDEB;
}

.group1:hover .svg path {
    fill: #FFF500;
}

.group1:hover .button {
    background: #EF075B;
    border: 1px solid #EF075B;
}

.button4 {
    height: 100px;
    width: 100px;
    background: rgba(48, 12, 106, 0.3);
    border-radius: 50%;
    top: 74%;
    right: 2%;
    float: right;
    position: fixed;

}

.svg6 {
    margin-left: 35px;
    margin-top: 25px;
    position: relative;
}

.button1 {
    position: relative;
    margin-top: 240px;
    background-color: #243b93;
    width: 210px;
    height: 46px;
    border: 1px solid#243b93;
    border-radius: 50px;
    font-size: 24px;
    font-weight: 400;
    color: white;
    font-family: 'PT Sans';
    line-height: 31px;
    margin-right: -75px;
}